<div class="services">
  <div class="banner">
    <div class="overlay"></div>
    <div
      class="content d-flex justify-content-center flex-column align-items-center wow bounceIn"
      data-wow-duration="1.5s"
      data-wow-offset="100"
      data-wow-delay="0.5s"
    >
      <div class="w-50">
        <h1>Services</h1>
        <h3>
          Providing Medical treatment and care to the public or to a particular
          group.
        </h3>
      </div>
    </div>
  </div>
  <div class="serv1">
    <div class="container-fluid">
      <h2
        class="text-center mb-5 wow flash"
        data-wow-duration="1.5s"
        data-wow-offset="100"
        data-wow-delay="0.5s"
      >
        Explaination
      </h2>
      <div class="row pt-3">
        <div
          class="col-md-6 mt-2 wow bounceInLeft"
          data-wow-duration="1.5s"
          data-wow-offset="100"
          data-wow-delay="0.5s"
        >
          <p class="serv1-content">
            PLSI-FZCO's services satisfy the different healthcare and business
            needs of business owners. Start-up services include healthcare
            business plan preparation, marketing plan preparation, project
            funding, financing search and procurement. Ongoing services include
            business plan updates, marketing plan updates, search and
            procurement of additional rounds of financing, management
            development, organizational development, IT consulting services,
            e-commerce consulting services, operational due diligence for
            operational excellence & optimal profitability, and human resources
            consultation.
          </p>
        </div>
        <div
          class="col-md-6 mt-2 wow bounceInRight"
          data-wow-duration="1.5s"
          data-wow-offset="100"
          data-wow-delay="0.5s"
        >
          <div class="img-con">
            <img
              class="img"
              src=" ./../../../../assets/img/serv1.jpg"
              alt="phoeniximg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="serv2">
    <div class="container-fluid">
      <h2
        class="text-center mb-5 wow flash"
        data-wow-duration="1.5s"
        data-wow-offset="100"
        data-wow-delay="0.5s"
      >
        Our Flexibility
      </h2>
      <div class="row">
        <div
          class="col-md-6 wow bounceInLeft"
          data-wow-duration="1.5s"
          data-wow-offset="100"
          data-wow-delay="0.5s"
        >
          <div class="img-con">
            <img
              class="img"
              src=" ./../../../../assets/img/filixability.jpg"
              alt="phoeniximg"
            />
          </div>
        </div>
        <div
          class="col-md-6 wow bounceInRight"
          data-wow-duration="1.5s"
          data-wow-offset="100"
          data-wow-delay="0.5s"
        >
          <p>
            At PLSI-FZCO, we allow our clients flexibility of custom developed
            strategies. We work with clients in any way they prefer, be it
            on-site, remotely, or a combination of both. We approach all our
            projects with a dynamic team passionate to assist the client in all
            areas of the business simultaneously, which allows for mutual
            involvement in the process that consequently creates client-firm
            synchronization and interconnecting all functional areas of the
            business.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
