<div
  class="footer wow fadeInUp"
  data-wow-duration="1s"
  data-wow-delay="1s"
  data-wow-offset="0"
  id="contact"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="contact text-center">
          <h3 class="head mb-3">Phoenix Sciences international - FZCO</h3>
          <div>
            <div class="place">
              38th Floor, Media One Hotel - Office Tower, Dubai Media City, PO
              Box 334069, Dubai, United Arab Emirates.
            </div>
            <div class="tel">Telephone : <b>+971 4 228 52 85</b></div>
            <div class="email">
              Email : <a href="mailto:info@pxli.org">info@pxli.org</a>
            </div>
          </div>
          <div></div>
        </div>
      </div>
      <!-- <div class="col-md-5">
        <div class="place">
          <h3>We hope See You</h3>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3613.3562036129806!2d55.15055941436579!3d25.089800842207655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6b5b0d90e59b%3A0x217ae0d571292791!2sMedia%20One%20Hotel!5e0!3m2!1sen!2seg!4v1661539681277!5m2!1sen!2seg"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            class="map"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div> -->
    </div>
  </div>
</div>
