<div style="position: fixed; z-index: 999; width: 100%">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="navbar-brand" href="#">
        <img src="./../../../assets/img/logo.png" alt="phoenix" />
      </div>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
        style="flex-flow: row-reverse"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/Home">Home</a>
          </li>
          <!--  <li class="nav-item">
            <a class="nav-link" routerLink="/About">About Us</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/ContactUS">Contact Us</a>
          </li>
          <li class="nav-item">
            <button
              class="btn btn-success me-3"
              routerLink="/Login"
              [hidden]="!isUserLogged"
            >
              Login <i class="fa fa-sign-in" aria-hidden="true"></i>
            </button>
          </li>
          <li class="nav-item">
            <button
              class="btn btn-danger"
              (click)="logout()"
              [hidden]="isUserLogged"
            >
              Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <app-sidebar></app-sidebar>
</div>
