<section id="contact">
  <div class="contact-box">
    <div
      class="contact-logo wow bounceInLeft"
      data-wow-duration="1.5s"
      data-wow-offset="100"
      data-wow-delay="0.5s"
    >
      <div class="place">
        <h3>We hope To See You</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3613.3562036129806!2d55.15055941436579!3d25.089800842207655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6b5b0d90e59b%3A0x217ae0d571292791!2sMedia%20One%20Hotel!5e0!3m2!1sen!2seg!4v1661539681277!5m2!1sen!2seg"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          class="map"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
    <div
      class="contact-form-wrapper wow bounceInRight"
      data-wow-duration="1.5s"
      data-wow-offset="100"
      data-wow-delay="0.5s"
    >
      <form>
        <div class="form-item">
          <input type="text" name="sender" #sender required />
          <label>Name:</label>
        </div>
        <div class="form-item">
          <input type="text" name="email" #email required />
          <label>Email:</label>
        </div>
        <div class="form-item">
          <textarea class="" name="message" #message required></textarea>
          <label>Message:</label>
        </div>
        <button
          class="submit-btn"
          (click)="sendMsg(sender.value, email.value, message.value)"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</section>
