<div class="genetic">
  <div class="container-fluid">
    <div class="one section">
      <h2 class="text-center head">Genetic Screening & Selection</h2>
      <div class="row">
        <div
          class="col-md-6 wow bounceInUp"
          data-wow-duration="1.5s"
          data-wow-offset="100"
          data-wow-delay="0.5s"
        >
          <p>
            Phoenix Life Sciences International is a privately owned
            organization with offices in Dubai & Cairo offering innovative
            solutions in Human genomics and Agri-genomics services, quality
            management systems and operational auditing. We provide the entire
            spectrum of all genetic related services.
          </p>
          <p>
            Phoenix Life Sciences International has extensive experience in
            genetic testing technology with its own patented technology using
            its tools asPXLI's AgriGene solutions as part of its Agri-genomics
            portfolio whichacceleratesgenomic breeding decisions by offering
            high-throughput accurate data on individual animal values. Breeders
            and producers can capitalize on these advances by focusing on
            specific herd needs to select economically relevant traits (ERTs) to
            improve animal value and profitability
          </p>
        </div>
        <div
          class="col-md-6 wow bounceInDown"
          data-wow-duration="1.5s"
          data-wow-offset="100"
          data-wow-delay="0.5s"
        >
          <div
            class="imgCon d-flex justify-content-center align-items-center h-100"
          >
            <img
              src="./../../../assets/img/consulting.jpg"
              class="img"
              alt="image"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="gray section">
      <h2 class="text-center head">Genomic breeding programs</h2>
      <div class="row">
        <div
          class="col-md-6 wow bounceInLeft"
          data-wow-duration="1.5s"
          data-wow-offset="100"
          data-wow-delay="0.5s"
        >
          <div
            class="imgCon d-flex justify-content-center align-items-center h-100"
          >
            <img
              src="./../../../assets/img/consulting.jpg"
              class="img"
              alt="image"
            />
          </div>
        </div>
        <div
          class="col-md-6 wow bounceInRight"
          data-wow-duration="1.5s"
          data-wow-offset="100"
          data-wow-delay="0.5s"
        >
          <div
            class="d-flex flex-column justify-content-center align-items-center h-100"
          >
            <p class="GenomicText">
              Using a variety of approaches to determine animal value. All rely
              on identifying molecular markers that predict or associate with a
              particular trait or phenotype. Tests using SNP (single nucleotide
              polymorphism) detection, which identify genetic variations that
              associate with conditions such as coat color, double muscling or
              disease, are increasingly popular due to their speed. It is
              possible to process 100s of samples for up to 50,000s of SNPs in a
              single run, getting results within days.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="geneticSelection section">
      <h2 class="text-center head">Genetic Selection</h2>
      <div class="row">
        <div
          class="col-md-6 wow bounceInDwon"
          data-wow-duration="1.5s"
          data-wow-offset="100"
          data-wow-delay="0.5s"
        >
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <p>
              Genetic selection relies on identifying traits associated with
              ERTs and also expected progeny differences (EPDs) that improve
              animal value, for both breeding potential and production.
              Selecting sires for a dairy herd, for example, might concentrate
              on daughter value traits such as milk production. Molecular
              markers for larger scrotal circumference in the sire predict
              earlier puberty in daughters. In beef production, traits such as
              mature weight and higher and more efficient feed conversion rates
              are more desirable.
            </p>
            <p>
              Using genetic selection tools wisely can increase herd
              profitability. Being able to identify animals that have better
              milk production, weaning weight and muscle characteristics for
              example will breed a better end product for market, reflecting in
              higher volumes of milk and meat production therefore maximizing
              your revenue, profit & return on investment.
            </p>
          </div>
        </div>
        <div
          class="col-md-6 wow bounceInUp"
          data-wow-duration="1.5s"
          data-wow-offset="100"
          data-wow-delay="0.5s"
        >
          <div
            class="imgCon d-flex justify-content-center align-items-center h-100"
          >
            <img
              src="./../../../assets/img/consulting.jpg"
              class="img"
              alt="image"
            />
          </div>
        </div>
        <div class="col-12">
          <p>
            However, in order to move a herd forward, producers must take care
            to select traits that improve profitability rather than increase
            costs. Selecting rapid growth or high milk yield for example will
            not optimize production where nutrient or forage quality is a
            limiting factor. Considering herd goals within environmental and
            husbandry constraints will maximize benefits and avoid obstacles to
            achieving full performance potential.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="gray section">
    <h2 class="text-center head">Trait Testing for Phenotype Selection</h2>
    <div class="row">
      <div
        class="col-md-6 wow bounceInUp"
        data-wow-duration="1.5s"
        data-wow-offset="100"
        data-wow-delay="0.5s"
      >
        <p>
          Molecular markers that associate with certain phenotypes can be useful
          for predicting production assets (fat marbling within muscle),
          cosmetic factors (red or black coat for consumer preference) and
          disease susceptibility (enzyme defects sech as amannosidase deficiency
          in Angus beasts)
        </p>
      </div>
      <div
        class="col-md-6 wow bounceInDown"
        data-wow-duration="1.5s"
        data-wow-offset="100"
        data-wow-delay="0.5s"
      >
        <p>
          Since some conditions are inherited in a recessive manner, it is
          important for breeders to identify heterozygote individuals as
          carriers within a herd or breeding environment. These can include
          cosmetic traits such as coat color, and more harmful mutations that
          cause disease or deformity.
        </p>
      </div>
      <div
        class="col-md-6 wow bounceInUp"
        data-wow-duration="1.5s"
        data-wow-offset="100"
        data-wow-delay="0.5s"
      >
        <p>
          Cosmetic phenotypes can have impact under certain husbandry systems.
          For example, cattle with albinism experience increased
          photosensitivity, with white faced animals also seeing increased risk
          of skin disease including cancer around the eyes. Hereford and similar
          breeders may select animals with 'goggles'—darker hair color and
          pigment around the eyes— although the genetics of this phenotype are
          not fully determined.
        </p>
      </div>
      <div
        class="col-md-6 wow bounceInDown"
        data-wow-duration="1.5s"
        data-wow-offset="100"
        data-wow-delay="0.5s"
      >
        <p>
          Some markers for a visible phenotype are also good indicators for a
          hidden malformation; an example of this is white heifer disease where
          white coat color in Belgian Blue and Shorthorn animals associate with
          failure of the female reproductive tract to develop fully. Affected
          animals are usually sterile; since this isn't apparent externally or
          easy to spot under some herd management systems, it can be a cause of
          overall herd subfertility.
        </p>
      </div>
    </div>
  </div>

  <div class="section">
    <h2 class="text-center head">Parentage Testing</h2>
    <div class="row">
      <div
        class="col-md-6 wow bounceInLeft"
        data-wow-duration="1.5s"
        data-wow-offset="100"
        data-wow-delay="0.5s"
      >
        <div
          class="imgCon d-flex justify-content-center align-items-center h-100"
        >
          <img
            src="./../../../assets/img/consulting.jpg"
            class="img"
            alt="image"
          />
        </div>
      </div>
      <div
        class="col-md-6 wow bounceInRight"
        data-wow-duration="1.5s"
        data-wow-offset="100"
        data-wow-delay="0.5s"
      >
        <div
          class="d-flex flex-column justify-content-center align-items-center h-100"
        >
          <p class="GenomicText">
            Parentage testing relies on genomic evaluation using SNPs or other
            molecular markers to rule out individuals based on simple
            inheritance.
          </p>
          <p>
            Under certain management situations, parentage might not be
            immediately obvious. Genetic evaluation of offspring against all
            possible parents can establish whether the calf is the result of AI
            or natural service under certain herd management systems. This is
            also a useful tool where service is not observed by the producer, in
            situations where multiple bulls free run with the herd.
          </p>
          <p>
            Genetic testing is also valuable in establishing pedigree for
            valuable animals pre-and post-sale, to confirm identity. It can also
            be used by producers to confirm embryo transfer offspring.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
