.models{
  padding-top: 70px
}
.models .head{
  margin: 30px 0
}
.models .model{
  padding:40px
}

.models .card{
  padding:20px;
  line-height:1.7;
  box-shadow: 0 0 10px #000;
  transition: all 0.5s ease-in-out;
  margin-bottom: 40px;
}
.models .card:hover{
  transform: scale(1.05);
}
.models .header{
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 700;
}
.models .img{
  width: 60%;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 10px 2px #616060;
}
.models .img:hover{
  transform: scale(1.1);

}
