<div class="home">
  <div class="container-fluid">
    <div class="itro">
      <h2
        class="head text-center wow flash"
        data-wow-duration="1.5s"
        data-wow-offset="100"
        data-wow-delay="0.5s"
      >
        Who We Are ?
      </h2>
      <div class="row d-flex justify-content-center">
        <ng-container *ngFor="let item of intro; let i = index">
          <div class="col-md-8">
            <div
              class="card maincard wow bounceInLeft"
              [ngClass]="(i + 1) % 2 == 1 ? 'bounceInLeft' : 'bounceInRight'"
              data-wow-duration="1s"
              data-wow-delay="1s"
              data-wow-offset="0"
            >
              <p class="badge">{{ i + 1 }}</p>
              <p class="card-title">{{ item }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="industry">
      <h2
        class="head text-center wow flash"
        data-wow-duration="1.5s"
        data-wow-offset="100"
        data-wow-delay="0.5s"
      >
        Healthcare Industry
      </h2>
      <p
        class="text wow bounceInLeft"
        data-wow-duration="1s"
        data-wow-delay="1s"
        data-wow-offset="0"
      >
        PLSI-FZCO's professionals have 100 years of combined global experience
        within the multinational healthcare industry in management, turnkey and
        green-field hospital projects, hospital operations, project funding,
        establishing PPP's and healthcare sector reform within CEEMEA, Asia,
        Latin America & Emerging Growth Markets. PLSI-FZCO is currently the
        project driver & developer of a mega healthcare projects in Egypt & on
        the island of Cyprus, acting as the focal point for numerous
        international groups & governments of Egypt & Cyprus. These projects
        cover numerous aspects of the healthcare sector, including medical &
        nursing education, Centers of Excellence, healthcare & hospitality
        services. A more comprehensive profile on PLSI-FZCO professionals'
        healthcare industry experience is provided below.
      </p>
    </div>

    <div class="drivers">
      <h2
        class="head text-center wow flash"
        data-wow-duration="1.5s"
        data-wow-offset="100"
        data-wow-delay="0.5s"
      >
        WHAT MAKES US THRIVE
      </h2>
      <div class="row d-flex justify-content-center align-items-center">
        <ng-container *ngFor="let item of drivers; let i = index">
          <div class="col-md-8">
            <div
              class="card secondCard wow"
              [ngClass]="(i + 1) % 2 == 1 ? 'bounceInLeft' : 'bounceInRight'"
              data-wow-duration="1.5s"
              data-wow-offset="100"
              data-wow-delay="0.5s"
            >
              <span class="badge">{{ i + 1 }}</span>
              <div>
                <h4 class="title">{{ item.name }}</h4>
                <p class="card-title">{{ item.text }}</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
