.projectPlanning{
  padding: 80px 20px;
  background-color:#ebebeb;
  color:#000;
}
.projectPlanning .pHead{
  font-weight: 600;
}
.projectPlanning .badge{
  position: absolute;
  top: 36px;
  left: 20px;
  font-size: 16px;
  padding: 8px ;
  background-color:#604385;
}
.projectPlanning .card{
  padding:30px 20px 10px 20px;
  position:relative;
  box-shadow: 0 0 10px 2px #b3129f;
transition: all 0.5s ease-in-out;
  margin: 10px 0
}
.projectPlanning .card:hover{
  transform: scale(1.05);
}
.projectPlanning .card .title,.projectPlanning .card .subtitle{
  font-size: 16px;
  line-height: 1.7;
  color: #000;
  font-weight: 500;
}
.projectPlanning .card .title{
  background: linear-gradient(to right,#f5a861 0%, #f87c95 50%, #9e70db 100%);
  width: fit-content;
  padding: 10px 15px;
  margin-left: 40px;
  border-radius: 15px;
}
.projectPlanning .head{
  margin-top: 30px;
}
